.todo-list-item {

}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.done {
  text-decoration: line-through;
}

.todo-list-item.important .todo-list-item-label {
  font-weight: bold;
  color: steelblue;
}