.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filters-buttons {
  display: flex;
  margin-left: 10px;
}

.filters-buttons > div {
  cursor: pointer;
}

.search-input {
  font-size: 15px;
}















